#bolos {
    height: 95dvh;
    background-color: var(--thirdiary-color);
    padding: 20px;
    text-align: center;
}

.cake-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.cake-container div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.cake-container img {
    width: 70%;
    height: 30%;
    object-fit: cover;
    border-radius: 20px;
}

@media screen and (min-width: 768px) {
    .cake-container {
        flex-direction: row;
        justify-content: space-around;
        padding: 10% 20%;
    }

    .cake-container img {
        width: 30%;
        height: 90%;
    }
    
}